.home {
  width: 100vw;
  height: 100%;
  background-color: #eef1f8;
  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;

    .nav {
      width: 82%;
      height: 70px;

      border-radius: 15px;
      -webkit-box-shadow: 1px 4px 20px -7px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 4px 20px -7px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 4px 20px -7px rgba(0, 0, 0, 0.75);
      margin-bottom: 20px;
      display: flex;
      padding-left: 20px;
      align-items: center;

      span {
        margin: 0 15px;
        cursor: pointer;
      }

      .searchbar {
        width: 30%;
        height: 10%;
        margin-right: 15px;
        display: flex;
        position: relative;

        align-items: center;
        justify-content: center;

        .icon {
          position: absolute;
          right: 15px;
          color: #2198e7;
        }

        input {
          color: black;
          border: 2px solid rgb(239, 252, 255);
          border-radius: 15px;

          background-color: #fffffffc;
          width: 90%;
          height: 30px;
          padding-top: 5px;
          padding-left: 40px;
          &::placeholder {
            font-weight: 400;
            font-size: 16px;
            color: black;
          }
        }
      }
    }
    .cards {
      width: 90%;
      height: 90%;

      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
    }
    .pages {
      margin-top: 10px;
      width: 90%;
      height: 70px;
      border-radius: 15px;
      -webkit-box-shadow: 1px 4px 20px -7px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 4px 20px -7px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 4px 20px -7px rgba(0, 0, 0, 0.75);
    }
  }
}
